/*
*{
	margin: 0;
	padding: 0;
}
*/
	body{
	background-color:#f4f4f4;
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	/* Same as above*/
	font: normal 20px Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: green;
}

a:active{
	color: greenyellow;
}

a:visited{
	
}

.container{
	width: 80%;
	margin: auto;
}

.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background: mediumpurple;
	color: #fff;
}

.clr{
	clear: both;
}

.box-1{
	background-color: #333;
	color: #fff;

	border-right: 5px green solid;
	border-left: 5px green solid;
	border-top: 5px green solid;
	border-bottom: 5px green solid;
	/* Same as above*/
	
	border-width: 10px;
	border-bottom-width: 20px;
	border-top-style: double;

	border: 10px green solid;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

	/* Same as above */
	padding: 20px;

	margin-top: 20px;
	margin: 20px 0;
}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	list-style: none;
}

.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	list-style-image: url('../images/check.png');

}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100%;
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing:border-box;
}

#main-block{
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 15px;
	box-sizing: border-box;
}

.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
	position: relative;
	background-image: url('../images/bgimage.jpg');
	background-repeat: no-repeat;
	background-position: 100px 200px;
	background-position: 200%;
}

.p-box h1{
	position: absolute;
	top: 100px;
	left: 200px;
}

.p-box h2{
	position: absolute;
	bottom: 40px;
	right: 100px;
}

.fix-me{
	position: fixed;
	top: 400px;
}

.my-list li:first-child{
	background: green;
}

.my-list li:last-child{
	background: black;
}

.my-list li:nth-child(5){
	background: grey;
}

.my-list li:nth-child(even){
	background: slategray;
}